body {
  margin: 0;
}


@mixin centeredGrid() {
  display: grid;
  justify-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
$font-stack: 'Jura', sans-serif;

$primary-color: #6E07F3;



/*
  ==========
  Homepage
  ==========
*/

.homePage {
  @include centeredGrid();
  font-family: $font-stack;
}

/*
  ==========
  Title
  ==========
*/

.titleCont {
  @include centeredGrid();
  padding: 0 0 22em 0;
  width: 100%;
  color: white;

  background: url(./assets/desk.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

  h1 {
    font-size: 38px;
    margin-top: 4em;
  }

  h2 {
    font-size: 30px;
    height: 33px

  }

  .navbarCont {
    @include centeredGrid();
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;

    color: white;

    width: 100%;
    font-size: 18px;
    padding: 0.25em 0 0.25em 0;

    h4, a {
      font-weight: 400;
      color: white;
      text-decoration: none;
      margin: 0;
    }

    .emailCont {
      display: grid;
      grid-template-columns: 35px 208px;
      align-items: center;
      height: 50px;
    }

    .phoneCont {
      display: grid;
      grid-template-columns: 35px 208px;
      align-items: center;
      height: 50px;
    }

    .gitCont {
      display: grid;
      grid-template-columns: 35px 208px;
      align-items: center;
      height: 50px;
    }

    .linkedinCont {
      display: grid;
      grid-template-columns: 35px 208px;
      align-items: center;
      height: 50px;
    }

    .github:hover {
      font-weight: 800;
      cursor: pointer;
    }

    .linkedin:hover {
      font-weight: 800;
      cursor: pointer;
    }
  }
}

/*
  ==========
  Bio
  ==========
*/

.bioCont {
  @include centeredGrid();
  background-color: $primary-color;
  color: white;
  width: 100%;

  padding: 1em 0 2em 0;
}


/*
  ==========
  Skills
  ==========
*/

@mixin skillsStyling() {
  grid-template-rows:  30px 2fr 2fr 4fr;
  margin-bottom: 6em;
  margin-top: 3em;
  min-width: 265px;
  h1 {
    padding: 0;
    margin: 0;
    align-self: end;
  }
  h2 {
    margin: 0;
    padding: 0;
    align-self: center;
    color: $primary-color;
  }
  ul {
    margin: 0;
    padding: 0;
    justify-self: start;
    list-style: none;
    font-size: 18px;
  }
  ul li::before {
    content: "\2022";
    color: $primary-color;
    display: inline-block;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;

  }


}

.skillsCont {
  @include centeredGrid();
  width: 95%;
  padding-top: 2em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  border-bottom: 1px solid rgb(209, 207, 207);

  .material-symbols-outlined {
    color: $primary-color;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    font-size: 36px;
  }

  .frontEnd {
    @include centeredGrid();
    @include skillsStyling();

  }

  .backEnd {
    @include centeredGrid();
    @include skillsStyling();

  }

  .development {
    @include centeredGrid();
    @include skillsStyling();
  }
}


/*
  ==========
  Projects
  ==========
*/

.projectsCont {
  @include centeredGrid();
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  width: 90%;
  padding: 3em 0 3em 0;
  column-gap: 3em;

  h1 {
    color: $primary-color;
  }

  p {
    margin: 1.5em 3em 0 3em;
  }

  .projectOne {
    @include centeredGrid();
    grid-template-rows: 80px 225px 1fr;

  }

  .movieProjPic {
    background-image: url("./assets/letterbox.png");
    background-size: cover;
    height: 225px;
    width: 450px;
  }

  .projectTwo {
    @include centeredGrid();
    grid-template-rows: 80px 225px 150px;

  }

  .invProjPic {
    background-image: url("./assets/inventory.png");
    background-size: cover;
    height: 225px;
    width: 450px;
  }
}

/*
  ==========
  Links
  ==========
*/

.linksCont {
  @include centeredGrid();
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  background-color: $primary-color;
  color: white;
  width: 100%;
  font-size: 18px;
  padding: 2em 0 2em 0;

  h4, a {
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  .emailCont {
    display: grid;
    grid-template-columns: 35px 208px;
    align-items: center;
    height: 70px;
  }

  .phoneCont {
    display: grid;
    grid-template-columns: 35px 208px;
    align-items: center;
    height: 70px;
  }

  .gitCont {
    display: grid;
    grid-template-columns: 35px 208px;
    align-items: center;
    height: 70px;
  }

  .linkedinCont {
    display: grid;
    grid-template-columns: 35px 208px;
    align-items: center;
    height: 70px;
  }

  .github:hover {
    font-weight: 800;
    cursor: pointer;
  }

  .linkedin:hover {
    font-weight: 800;
    cursor: pointer;
  }
}
